@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  @apply font-lato;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
